# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Enterprise Architect
*.ldb

# Visual Studio folders
/.vs
/VSProject
/out

# Other
/.vm/target
enc_temp_folder/

# Installtions
*.deb
*.rpm
*.msi

*.vsidx

x64/Debug/

project/x64/Debug/
